*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --primary-color: #faedeb;
    --primary-color-light: #ecc6c0;
    --bg-dark-primary: #000000;
    --bg-light-primary: #fff;
    --bg-dark-secondary: #121212;

    --border-radius: 0.3rem;

    --text-primary-color: #000;
    --text-secondary-color: #737373;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}


/* global css ends here  */
