<div class="container xl bg-gray-300 ">
    <div class="row  flex justify-between ">
        <div class="column logo">
            <img src="../assets/logo.svg" alt="">
        </div>
        <div class="column w-6/12">
            <ul class="flex text-white justify-between w-full bg-gray-600">
                <li><a href="./index.html">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="column text-white">
            <span><i class="fa-solid fa-cart-shopping"></i></span>
        </div>
    </div>
</div>